
<div class="add-book-container">
  <h2>Add a New Book</h2>

  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()" class="add-book-form">
    <label>Title</label>
    <input type="text" formControlName="title" required />

    <label>Author</label>
    <input type="text" formControlName="author" required />

    <label>Genre</label>
    <input type="text" formControlName="genre" required />


    <label>Year of Publish</label>
    <input type="number" formControlName="year" min="1900" max="2100" required />

    <button type="submit" class="add-button">
      <span class="button__text">Add Book</span>
      <span class="button__icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2"
          stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none">
          <line y2="19" y1="5" x2="12" x1="12"></line>
          <line y2="12" y1="12" x2="19" x1="5"></line>
        </svg>
      </span>
    </button>
  </form>
</div>
