<div class="add-book-container">
  <h2>Add New Book</h2>
  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()" class="add-book-form" enctype="multipart/form-data">

    <label>Title:</label>
    <input formControlName="title" type="text" required />
    <div *ngIf="bookForm.get('title')?.invalid && bookForm.get('title')?.touched" class="error">
      Title is required
    </div>

    <label>Author:</label>
    <input formControlName="author" type="text" required />
    <div *ngIf="bookForm.get('author')?.invalid && bookForm.get('author')?.touched" class="error">
      Author is required
    </div>

    <label>Genre:</label>
    <input formControlName="genre" type="text" required />
    <div *ngIf="bookForm.get('genre')?.invalid && bookForm.get('genre')?.touched" class="error">
      Genre is required
    </div>

    <label>Year:</label>
    <input formControlName="year" type="number" required />
    <div *ngIf="bookForm.get('year')?.invalid && bookForm.get('year')?.touched" class="error">
      Enter a valid year
    </div>

    <label>Attach PDF:</label>
    <input type="file" (change)="onFileChange($event)" accept="application/pdf" required />
    <div *ngIf="pdfError" class="error">{{ pdfError }}</div>

    <button class="add-button" type="submit" [disabled]="bookForm.invalid || !selectedPdfFile">
      <span class="button__text">Add Book</span>
      <span class="button__icon">➕</span>
    </button>
  </form>
</div>
